<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>客户关系管理中心</title>
    <meta name="Copyright" content="Douco Design." />
    <link href="/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/global.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <style>
        #menu li:hover{
            background: #60BBFF;
        }
    </style>
</head>
<body>
<div id="dcWrap"> <div id="dcHead">
        <div id="head">
            <div class="logo" style="color: #fff;font-size: 16px ;padding-top:5px">客户关系后台管理</div>
            <div class="nav">
                <ul>
                    <li><a href="#index" target="_blank">查看站点</a></li>
                </ul>
                <ul class="navRight">
                    <li class="noLeft"><a href="JavaScript:void(0);" id="names">您好</a>
                    </li>
                    <li class="noRight"><a href="/admin/login">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: '/admin/username',
                type: 'get',
                success: function (res) {
                    console.log(res.name)
                    $("#names").html('您好！，'+ res.name);
                },
                error: function (err) {
                    console.log(err)
                    throw err;
                }
            })
        })

    </script>