<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>仙女棒后台 管理中心</title>
    <meta name="Copyright" content="Douco Design." />
    <link href="/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/global.js"></script>
    <style>
        #menu li:hover{
            background: #60BBFF;
        }
    </style>
</head>
<body>
<div id="dcWrap"> <div id="dcHead">
        <div id="head">
            <div class="logo" style="color: #fff;font-size: 16px ;padding-top:5px">仙女棒企业后台管理</div>
            <div class="nav">
                <ul>
                    <li class="M"><a href="JavaScript:void(0);" class="topAdd">新建</a>
                        <div class="drop mTopad"><a href="/admin/productsAdd">商品</a> <a href="/admin/articlesAdd">文章</a> <a href="/admin/navs">自定义导航</a> <a href="show.html">首页幻灯</a> <a href="page.php?rec=add">单页面</a> <a href="/admin/managerAdd">管理员</a> <a href="link.html"></a> </div>
                    </li>
                    <li><a href="#" target="_blank">查看站点</a></li>
                    <li><a href="#">清除缓存</a></li>
                    <li><a href="http://www.mycodes.net" target="_blank">帮助</a></li>
                    <li class="noRight"><a href="module.html">仙女棒后台+</a></li>
                </ul>
                <ul class="navRight">
                    <li class="M noLeft"><a href="JavaScript:void(0);">您好，hyj</a>
                        <div class="drop mUser">
                            <a href="manager.php?rec=edit&id=1">编辑我的个人资料</a>
                            <a href="manager.php?rec=cloud_account">设置云账户</a>
                        </div>
                    </li>
                    <li class="noRight"><a href="/admin/login">退出</a></li>
                </ul>
            </div>
        </div>
    </div>